<h2>Example</h2>
<div class="stage">
    <dmx-defs></dmx-defs>
    <svg class="stage-prop" version="1.1" viewBox="0 0 1600 640">
        <use xlink:href="#screen" x="10" y="20" transform="scale(4)" />
        <use xlink:href="#viewport" x="18" y="28" transform="scale(4)" />
        <use xlink:href="#keyboard" x="0" y="150" transform="scale(4)" />
        <use xlink:href="#body" x="50" y="117.5" transform="scale(3)" />
        <use xlink:href="#face" x="80" y="50" transform="scale(3)" />
        <g transform="scale(3) translate(80 55)">
            <path class="mouth" d="M 35 75 c 0 -10 30 -10 30 0 c 0 15 -30 15 -30 0 z" fill="#FFF"></path>
            <g class="first-word word">
                <rect fill="#000" height="40" width="68" x="16" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla
                </text>
            </g>
            <g class="second-word word">
                <rect fill="#000" height="40" width="136" x="-18" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla
                </text>
            </g>
            <g class="third-word word">
                <rect fill="#000" height="40" width="204" x="-51" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla bla
                </text>
            </g>
        </g>
    </svg>
</div>
