.stage {
    margin: 8.128125vw 0 0;
    padding-bottom: 40%;
    position: relative;
}

@media (min-aspect-ratio: 16/9) {
    .stage {
        margin: 14.45vh 0 0;
    }
}

.stage-prop {
    position: absolute;
}

@keyframes speak {
    from {
        transform: scale(1.3, 0.1) translateY(5px);
    }

    50% {
        transform: scale(1) translateY(0);
    }

    to {
        transform: scale(1.3, 0.1) translateY(5px);
    }
}

.mouth {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: speak;
    transform-origin: 50px 70px;
}

@keyframes transcribe {
    33% {
        width: 7%;
    }

    66% {
        width: 15%;
    }

    to {
        width: 23%;
    }
}

.captions {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: transcribe;
    animation-timing-function: step-start;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 100%;
    margin: 30% 0 0 12%;
    overflow: hidden;
    padding: 0 0.5% 0 1%;
    width: 23%;

    span {
        display: block;
        white-space: nowrap;
        width: 100%;
    }
}

.label {
    font-size: 40px;
}

.word {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

@keyframes first-word {
    33% {
        visibility: visible;
    }

    66% {
        visibility: hidden;
    }

    to {
        visibility: hidden;
    }
}

.first-word {
    animation-name: first-word;
}

@keyframes second-word {
    33% {
        visibility: hidden;
    }

    66% {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

.second-word {
    animation-name: second-word;
}

@keyframes third-word {
    33% {
        visibility: hidden;
    }

    66% {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.third-word {
    animation-name: third-word;
}
