@use '@fontsource/montserrat/scss/mixins' as montserrat;

@include montserrat.faces($directory: '@fontsource/montserrat/files/', $subsets: latin latin-ext, $weights: 400 500);

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c76c8;
    color: #fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 8vw;
    height: 56.25vw;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: calc(8vh * 16 / 9);
        height: 100%;
        margin: 0 auto;
        width: calc(100vh * 16 / 9);
    }
}

a {
    color: inherit;
}

div,
h3,
li,
p {
    font-size: 50%;
}

h1 {
    font-size: 120%;
    font-weight: 500;
}

h2 {
    font-size: 75%;
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

body h1:first-child,
body h2 {
    margin-top: 0;
}

ul {
    margin: 0.5em 0;
    padding: 0 0 0 0.5em;
}

li {
    margin: 0.5em 0;
}

.center {
    text-align: center;
}
