<svg class="hidden" version="1.1">
    <defs>
        <g id="backdrop">
            <rect fill="#000" height="110" opacity="0.5" width="160" x="0" y="0" />
        </g>
        <g id="keyboard">
            <path d="M 10 0 h 180 l 10 10 h -200 z" fill="#333"></path>
        </g>
        <g id="pause-button">
            <rect fill="#000" height="60" width="60" x="0" y="0" />
            <line x1="20" x2="20" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10" />
            <line x1="40" x2="40" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10" />
        </g>
        <g id="play-button">
            <rect fill="#000" height="60" width="60" x="0" y="0" />
            <line x1="20" x2="20" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10" />
            <line x1="40" x2="40" y1="15" y2="45" stroke="#FFF" stroke-linecap="round" stroke-width="10" />
        </g>
        <g id="screen">
            <path d="M 1 11 c 0 -5 5 -10 10 -10 h 158 c 5 0 10 5 10 10 v 118 h -178 z" fill="#000" stroke-width="2" stroke="#333"></path>
        </g>
        <g id="smartphone">
            <path
                d="M 1 11 c 0 -5 5 -10 10 -10 h 58 c 5 0 10 5 10 10 v 128 c 0 5 -5 10 -10 10 h -58 c -5 0 -10 -5 -10 -10 z"
                fill="#000"
                stroke-width="2"
                stroke="#333"
            ></path>
            <rect fill="#FFF" height="130" width="60" x="10" y="10" />
        </g>
        <g id="viewport">
            <rect fill="#FFF" height="120" width="164" x="0" y="0" />
        </g>
        <g id="tv">
            <rect x="0" y="0" width="160" height="90"></rect>
            <rect fill="#fff" x="5" y="5" width="150" height="80"></rect>
            <rect x="75" y="90" width="10" height="10"></rect>
            <path d="M 50 100 h 60 l 10 5 h -80 z"></path>
        </g>
        <g id="bar">
            <circle fill="#f92672" cx="4" cy="4" r="4"></circle>
            <circle fill="#F8DA87" cx="14" cy="4" r="4"></circle>
            <circle fill="#8AC585" cx="24" cy="4" r="4"></circle>
        </g>
        <g id="browser">
            <path
                d="M 1 11 c 0 -5 5 -10 10 -10 h 148 c 5 0 10 5 10 10 v 108 c 0 5 -5 10 -10 10 h -148 c -5 0 -10 -5 -10 -10 z"
                fill="#FFF"
                stroke-width="2"
                stroke="#333"
            ></path>
            <use xlink:href="#bar" x="6" y="6" />
        </g>
        <g id="face">
            <circle fill="#FDB398" cx="50" cy="50" r="50" transform="scale(0.9 1) translate(6 0)"></circle>
            <circle fill="#FDB398" cx="0" cy="45" r="10" transform="scale(0.9 1) translate(6 0)"></circle>
            <circle fill="#FDB398" cx="100" cy="45" r="10" transform="scale(0.9 1) translate(6 0)"></circle>
            <circle fill="#FFF" cx="27" cy="40" r="10" transform="scale(1 0.8) translate(0 10)"></circle>
            <circle fill="#FFF" cx="73" cy="40" r="10" transform="scale(1 0.8) translate(0 10)"></circle>
            <path d="M 19.5 28 h 15 v 1 h -15 z" fill="#333"></path>
            <path d="M 65.5 28 h 15 v 1 h -15 z" fill="#333"></path>
            <circle fill="#78a0d9" cx="27" cy="40" r="3" stroke-width="1" stroke="#333"></circle>
            <circle fill="#78a0d9" cx="73" cy="40" r="3" stroke-width="1" stroke="#333"></circle>
            <path d="M 40 50 c -10 15 30 15 20 0" fill="transparent" stroke="#333" stroke-width="1"></path>
            <path d="M 25 5 c 10 -10 40 -10 50 0 v 10 c -10 -10 -40 -10 -50 0 z" fill="#f92672"></path>
        </g>
        <g id="body">
            <path fill="#78a0d9" d="M 0 80 a 80 80 0 0 1 160 0 z"></path>
        </g>
    </defs>
</svg>
