<h2>Example</h2>
<div class="stage">
    <dmx-defs></dmx-defs>
    <svg class="stage-prop" version="1.1" viewBox="0 0 1600 640">
        <g transform="scale(6) translate(96 2)">
            <use xlink:href="#tv" />
        </g>
        <use xlink:href="#body" x="340" y="129" transform="scale(2.5)" />
        <use xlink:href="#face" x="370" y="61.5" transform="scale(2.5)" />
        <g transform="scale(2.5) translate(370 66.5)">
            <path class="mouth" d="M 35 75 c 0 -10 30 -10 30 0 c 0 15 -30 15 -30 0 z" fill="#FFF"></path>
            <g class="first-word word">
                <rect fill="#000" height="40" width="68" x="16" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla
                </text>
            </g>
            <g class="second-word word">
                <rect fill="#000" height="40" width="136" x="-18" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla
                </text>
            </g>
            <g class="third-word word">
                <rect fill="#000" height="40" width="204" x="-51" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla bla
                </text>
            </g>
        </g>
        <use xlink:href="#screen" x="10" y="20" transform="scale(4)" />
        <use xlink:href="#viewport" x="18" y="28" transform="scale(4)" />
        <use xlink:href="#keyboard" x="0" y="150" transform="scale(4)" />
        <g transform="scale(2.5) translate(120 50)">
            <use xlink:href="#browser" />
        </g>
        <use xlink:href="#body" x="190" y="157.5" transform="scale(1.875)" />
        <use xlink:href="#face" x="220" y="90" transform="scale(1.875)" />
        <g transform="scale(1.875) translate(220 95)">
            <path class="mouth" d="M 35 75 c 0 -10 30 -10 30 0 c 0 15 -30 15 -30 0 z" fill="#FFF"></path>
            <g class="first-word word">
                <rect fill="#000" height="40" width="68" x="16" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla
                </text>
            </g>
            <g class="second-word word">
                <rect fill="#000" height="40" width="136" x="-18" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla
                </text>
            </g>
            <g class="third-word word">
                <rect fill="#000" height="40" width="204" x="-51" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla bla
                </text>
            </g>
        </g>
        <g transform="scale(2.5) translate(30 105)">
            <use xlink:href="#browser" />
        </g>
        <use xlink:href="#body" x="70" y="230.5" transform="scale(1.875)" />
        <use xlink:href="#face" x="105" y="163" transform="scale(1.875)" />
        <g transform="scale(1.875) translate(103 168)">
            <path class="mouth" d="M 35 75 c 0 -10 30 -10 30 0 c 0 15 -30 15 -30 0 z" fill="#FFF"></path>
            <g class="first-word word">
                <rect fill="#000" height="40" width="68" x="16" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla
                </text>
            </g>
            <g class="second-word word">
                <rect fill="#000" height="40" width="136" x="-18" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla
                </text>
            </g>
            <g class="third-word word">
                <rect fill="#000" height="40" width="204" x="-51" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla bla
                </text>
            </g>
        </g>
        <g transform="scale(3.5) translate(377 100)">
            <use xlink:href="#smartphone" />
        </g>
        <g transform="scale(0.5 1) translate(2840 560.5)">
            <path fill="#78a0d9" d="M 0 80 a 80 80 0 0 1 160 0 z"></path>
        </g>
        <g transform="scale(1) translate(1408 498)">
            <circle fill="#FDB398" cx="50" cy="50" r="50" transform="scale(0.9 1) translate(6 0)"></circle>
            <circle fill="#FDB398" cx="0" cy="55" r="10" transform="scale(0.9 1) translate(6 0)"></circle>
            <circle fill="#FFF" cx="27" cy="40" r="10" transform="scale(1 0.8) translate(0 10)"></circle>
            <path d="M 19.5 28 h 15 v 1 h -15 z" fill="#333"></path>
            <circle fill="#78a0d9" cx="27" cy="40" r="3" stroke-width="1" stroke="#333"></circle>
            <path d="M 60 35 c 15 -10 15 30 0 20" fill="transparent" stroke="#333" stroke-width="1"></path>
            <path d="M 25 5 c 10 -10 40 -10 50 0 v 10 c -10 -10 -40 -10 -50 0 z" fill="#f92672"></path>
            <path class="mouth" d="M 0 75 c 0 -10 30 -10 30 0 c 0 15 -30 15 -30 0 z" fill="#FFF"></path>
            <g class="first-word word">
                <rect fill="#000" height="40" width="68" x="16" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla
                </text>
            </g>
            <g class="second-word word">
                <rect fill="#000" height="40" width="136" x="-18" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla
                </text>
            </g>
            <g class="third-word word">
                <rect fill="#000" height="40" width="204" x="-51" y="100"></rect>
                <text
                    alignment-baseline="central"
                    class="label"
                    dominant-baseline="mathematical"
                    fill="#FFF"
                    text-anchor="middle"
                    x="50"
                    y="120"
                >
                    bla bla bla
                </text>
            </g>
        </g>
    </svg>
</div>
