<h2>TimingProvider</h2>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 1600 640">
        <rect fill="#fff" height="480" stroke="#FFF" stroke-linejoin="round" stroke-width="30" width="750" x="15" y="145" />
        <rect fill="#fff" height="480" stroke="#FFF" stroke-linejoin="round" stroke-width="30" width="750" x="835" y="145" />

        <line stroke="#f92672" stroke-linecap="round" stroke-width="10" x1="390" y1="340" x2="800" y2="55"></line>
        <line stroke="#f92672" stroke-linecap="round" stroke-width="10" x1="1210" y1="340" x2="800" y2="55"></line>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="420" x="590" y="15" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="800" y="55">
            TimingProvider
        </text>

        <line stroke="#f92672" stroke-linecap="round" stroke-width="10" x1="60" y1="570" x2="390" y2="340"></line>
        <line stroke="#f92672" stroke-linecap="round" stroke-width="10" x1="720" y1="570" x2="390" y2="340"></line>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="400" x="190" y="300" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="390" y="340">
            TimingObject
        </text>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="320" x="30" y="530" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="190" y="570">
            &lt;video/&gt;
        </text>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="320" x="430" y="530" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="590" y="570">
            &lt;captions/&gt;
        </text>

        <line stroke="#f92672" stroke-linecap="round" stroke-width="10" x1="880" y1="570" x2="1210" y2="340"></line>
        <line stroke="#f92672" stroke-linecap="round" stroke-width="10" x1="1540" y1="570" x2="1210" y2="340"></line>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="400" x="1010" y="300" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="1210" y="340">
            TimingObject
        </text>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="320" x="850" y="530" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="1010" y="570">
            &lt;video/&gt;
        </text>

        <rect fill="#272822" height="80" stroke="#272822" stroke-linejoin="round" stroke-width="30" width="320" x="1250" y="530" />
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#FFF" text-anchor="middle" x="1410" y="570">
            &lt;captions/&gt;
        </text>

        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#272822" text-anchor="start" x="20" y="180">
            Browser A
        </text>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#272822" text-anchor="end" x="1580" y="180">
            Browser B
        </text>
    </svg>
</div>
