<h2>Example</h2>
<div class="stage">
    <dmx-defs></dmx-defs>
    <svg class="stage-prop" version="1.1" viewBox="0 0 1600 640">
        <g transform="scale(6) translate(96 2)">
            <use xlink:href="#tv" />
            <rect fill="#78a0d9" x="5" y="5" width="150" height="80"></rect>
        </g>
        <use xlink:href="#screen" x="10" y="20" transform="scale(4)" />
        <use xlink:href="#viewport" x="18" y="28" transform="scale(4)" />
        <use xlink:href="#keyboard" x="0" y="150" transform="scale(4)" />
        <g transform="scale(2.5) translate(120 50)">
            <use xlink:href="#browser" />
            <path
                d="M 1 11 c 0 -5 5 -10 10 -10 h 148 c 5 0 10 5 10 10 v 108 c 0 5 -5 10 -10 10 h -148 c -5 0 -10 -5 -10 -10 z"
                fill="#78a0d9"
                stroke-width="2"
                stroke="#333"
            ></path>
            <use xlink:href="#bar" x="6" y="6" />
        </g>
        <g transform="scale(2.5) translate(30 105)">
            <use xlink:href="#browser" />
            <path
                d="M 1 11 c 0 -5 5 -10 10 -10 h 148 c 5 0 10 5 10 10 v 108 c 0 5 -5 10 -10 10 h -148 c -5 0 -10 -5 -10 -10 z"
                fill="#78a0d9"
                stroke-width="2"
                stroke="#333"
            ></path>
            <use xlink:href="#bar" x="6" y="6" />
        </g>
        <g transform="scale(3.5) translate(377 100)">
            <use xlink:href="#smartphone" />
            <rect fill="#78a0d9" height="130" width="60" x="10" y="10" />
        </g>
    </svg>
    <div class="captions stage-prop">
        <a href="https://bit.ly/dmx-2022">bit.ly/dmx-2022</a>
    </div>
</div>
