name: Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

permissions:
    contents: read
    id-token: write
    pages: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Install Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x

            - name: Cache node modules
              uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Install dependencies
              run: npm ci

            - env:
                  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
                  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
              name: Run tests
              run: npm test

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        if: github.ref_name == 'main'

        needs: build

        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Install Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x

            - name: Cache node modules
              uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: Install dependencies
              run: npm ci

            - name: Build website
              run: npx grunt build

            - name: Configure GitHub Pages
              uses: actions/configure-pages@v5

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: ./build/demuxed-2022/browser

            - id: deployment
              name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4

            - name: Run smoke tests
              run: |
                  export CHROME_DEVEL_SANDBOX=/opt/google/chrome/chrome-sandbox
                  sudo chown root /opt/google/chrome/chrome-sandbox
                  sudo chmod 4755 /opt/google/chrome/chrome-sandbox
                  npm run test:smoke

            - if: failure()
              name: Upload report and results
              uses: actions/upload-artifact@v5
              with:
                  name: playwright-report-and-results
                  path: |
                      playwright-report/
                      playwright-results/
                      test/screenshots/
